{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'jquery.mousewheel.js' %}"></script>
    <script src="{% static 'jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'RScompiler.3.2.min.js' %}"></script>
    <script src="{% static 'RSrun.3.2.min.js' %}"></script>
    <script src="{% static 'compiler.3.2.min.js' %}"></script>
    <script src="{% static 'glow.3.2.min.js' %}"></script>
    
    {% block head %}{% endblock %}
    </head>
  <body>
    <div class="container justify-content-center align-items-center">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
