{% extends 'base.html' %}
{% block title %}VPython Ball{% endblock %}

{% block head %}
<style>
    body{
        background-color: rgb(70, 26, 111);
    }
    .vpython_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}



{% block content %}
<div class="vpython_container">
<div id="glowscript" class="glowscript"></div>
</div>
{% load static %}
<script src="{% static 'app.js' %}"></script>
{% endblock %}